*,
body,
html,
#main {
  z-index: 100;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  font-family: nunito;
  transition-duration: 200ms;
}

html {
  background-color: #333;
}

#main {
  width: 100%;
  height: 100vh;
  background: linear-gradient(20deg, #aa00ff, #00ff80);
  /*position: fixed;*/
}

#content {
  padding-bottom: 80vh;
}

#headerBorder {
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0.4rem;
  border-radius: 1.3rem;
}

#realHeader:hover {
  transition-duration: 500ms;
  box-shadow: 0 8px 28px #0005;
}

#realHeader {
  background-color: #222;
  color: #eee;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.4rem;
  border-radius: 1.3rem;
  position: fixed;
  width: calc(100% - 0.8em);
  left: 0.4rem;
}

#headerBorder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  border: 2px solid #fff;
}

#realHeader > * {
  margin: 0.4rem;
}

#header {
  position: relative;
  z-index: 660;
}

.headerScrolled {
  background-color: #8888 !important;
  backdrop-filter: blur(8px) !important;
  padding: 0 !important;
  margin: 0 !important;
  border-radius: 0 !important;
  position: fixed !important;
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  flex-wrap: wrap;
}

.headerScrolled > #headerBorder {
  border: none !important;
  /*padding: 0 !important;*/
  margin: 0 !important;
  width: 100%;
  flex-wrap: wrap;
  border-radius: 0 !important;
  box-shadow: 0 8px 18px #0004;
}

.headerScrolled > #headerBorder > #headerHider {
  background-color: #333 !important;
  flex-grow: 1;
  border-radius: 1rem;
}

.headerScrolled > #headerBorder > #additionalInfo {
  position: relative;
  /*transform: scaleX(0);*/
  /*width: 0;*/
  /*text-overflow: ellipsis;*/
  display: none;
  background-color: red;
}

.headerScrolled > #headerBorder > #secondaryContacts {
  display: flex;
  flex-direction: row;
}

.headerScrolled > #headerBorder > #crucialContacts {
  flex-direction: row;
}

.headerScrolled > #headerBorder > #myImage {
  height: 2.5rem;
  width: 2.5rem;
  margin: 0;
  margin-left: 1.5rem;
  /*display: inline;*/
}

.headerScrolled > #headerBorder > #crucialContacts > * {
  margin-left: 1rem;
  flex-grow: 1;
}

.headerScrolled > #headerBorder > #buttonWrapper {
  padding: 0.6rem 0.5rem;
  border-radius: 0.4rem;
}

#headerHider {
  margin: 1.2rem;
  padding: 0.5rem;
  background-color: #0000;
  border: none;
  color: #eee;
  display: none;
}

#myImage {
  transition-duration: 1000ms;
  /*transition-timing-function: cubic-bezier(0.0, 1.0, 1.0, 1.0);*/
  margin: 1rem;
  margin-left: 3.5rem;
  /*margin-right: 1rem ;*/
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  box-shadow: 10px -18px 40px #0005, -1px 1px 4px #fff;
  transition-timing-function: cubic-bezier(0, 1, 1, 1);
}

#myImage:hover {
  box-shadow: 0 0 20px #222, 0 0 12px -12px #fff;
  transform: scale(1.02);
  transition-duration: 400ms;
  width: 8rem !important;
  height: 8rem !important;
}

#buttonWrapper {
  margin-top: 0.1rem;
  margin-left: 0.1rem;
  border: 0.2rem solid #fff;
  padding: 1.9rem 1.2rem;
  border-radius: 1.3rem;
  transition-duration: 350ms;
  cursor: pointer;
}

#buttonWrapper:hover {
  background-color: #fff;
  color: #000;
}

/*.headerScrolled */
.hiddenHeader > #headerBorder > #headerHider {
  background-color: #0000 !important;
  padding: 0;
  transition-duration: 800ms;
}

.hiddenHeader {
  /*background-color: red !important;*/
  backdrop-filter: none !important;
  transform: translateY(-70%);
  opacity: 0.7;
}

#wrapper {
  z-index: 101;
  left: 0;
  top: 0;
  background: #eee;
  padding: 0.4rem;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  transition-duration: 600ms;
  transform-origin: top;
  /*overflow-y: scroll;*/
}

.wrapperScrolled {
  /*padding-top: 1.4rem !important;*/
}

.wrapperZoomedOut:hover {
  background-color: #333 !important;
  box-shadow: -3rem 0 70px #2227;
  height: 100vh !important;
  /*transition-timing-function: ease-in-out;*/
}

.wrapperZoomedOut {
  overflow-x: visible !important;
  top: 4rem !important;
}

.wrapperZoomedOut > #zoomOutMenu {
  overflow: visible;
}

.wrapperZoomedOut {
  /*	transition-duration: 600ms !important;
  	width:10vw !important;
  	left: 1rem !important;
  	top: 1rem !important;
  	height: 80vh !important;
  	border-radius: 2rem;
  */
  transform: scale(0.7);
  border-radius: 1rem;
  background-color: #222 !important;
  /*height: 80vh !important;*/
  /*height: 80vh !important;*/
  /*width: 10vw !important;*/
  width: 10rem !important;
  overflow: scroll;
}

.zoomOutFade {
  /*transform: translateX(-50%) !important;*/
  /*opacity: 0 !important;*/
  /*background-color: red;*/
  display: none !important;
}

#crucialContacts {
  flex-wrap: wrap;
  /*background-color: #323;*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  margin-left: 1rem;
  margin-right: 1rem;
}

#crucialContacts > * {
  /*background-color: #334;*/
  text-align: center;
  justify-content: center;
}

#tel {
  display: flex;
  flex-direction: row;
}

#tels:hover {
  /*transform: scale(1.2);*/
}

#tels {
  display: flex;
  flex-direction: row;
  width: 8rem;
  height: 1.5rem;
}

#phone,
#telegram,
#whatsapp {
  flex: 1;
  background-color: var(--colr);
  transition-duration: 250ms;
}

#phone > img {
  filter: invert(1);
}

#phone {
  --colr: #7d7;
  border-radius: 1rem 0 0 1rem;
}

#telegram {
  --colr: #64a9dc;
}

#whatsapp > img {
  filter: grayscale(100%) brightness(3);
}

#whatsapp {
  --colr: #0dc143;
  border-radius: 0 1rem 1rem 0;
}

#phone:hover,
#telegram:hover,
#whatsapp:hover {
  flex: 2;
  filter: drop-shadow(0 0 70px var(--colr));
}

#tels > a {
  display: flex;
  justify-content: center;
  align-items: center;
}

#tels > a > img {
  height: 1rem;
}

@media only screen and (max-width: 600px) {
  #gmail,
#patreon,
#location {
    font-size: 1rem;
  }

  .headerScrolled > #headerBorder > #crucialContacts > #gmail,
.headerScrolled > #headerBorder > #secondaryContacts > #patreon,
.headerScrolled > #headerBorder > #crucialContacts > #location {
    font-size: 0;
  }
}
#gmail,
#location,
#instagram,
#patreon {
  text-decoration: none;
  color: #eee !important;
  display: flex;
  align-items: center;
}

#gmail > img {
  margin-right: 0.3rem;
}

#instagram,
#patreon {
  background-color: #333;
  padding: 0.1rem 1.2rem;
  margin: 0.3rem;
  /*justify: center;*/
  border-radius: 0.3rem;
  color: #eee;
  text-decoration: none;
}

#instagram {
  background-color: #0000;
  padding: 0.1rem 0.1rem;
}

#location > img {
  height: 1rem;
  margin-right: 0.8rem;
  transform: translateY(2px);
  /*background-color: #f3f	;*/
}

#gmail > img {
  height: 1rem;
}

#instagram > img,
#patreon > img {
  height: 1rem;
  margin-right: 0.2rem;
}

#patreon > img {
  border-radius: 50%;
  /*height: 2rem;*/
  margin-right: 0.5rem;
  transform: translateX(-30%) scale(2);
  /*margin-right: 0.8rem;*/
}

#patreon:hover > img {
  transform: translateX(-43%) scale(2);
}

#patreon:hover {
  background-color: #444;
  transition-duration: 0ms;
}

#patreon {
  margin-right: 1rem;
}

#additionalInfo {
  display: inline;
  margin: 1rem;
}

#gmail:hover > img {
  transform: translateY(-0.2rem);
  transition-timing-function: cubic-bezier(0, 1.8, 0.5, 1);
}

#location:hover > img {
  transform: translateY(-0.2rem) scale(1.1);
}

.displayNoneInator {
  width: 0 !important;
  height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  flex: 0;
  transform: scale(0);
  opacity: 0 !important;
  /*overflow: hidden !important;*/
}

.displayNoneInator:not(#myImage) {
  transition-duration: 800ms !important;
}

@media only screen and (max-width: 600px) {
  #p1, #p2, #p3, #p4, #p5 {
    padding: 0.1rem;
    width: 80vw;
  }

  #projects > #p1 {
    top: 130vw !important;
  }

  #projects > #p2 {
    top: 230vw !important;
  }

  #projects > #p3 {
    top: 330vw !important;
  }

  #projects > #p4 {
    top: 430vw !important;
  }

  #projects > #p5 {
    top: 530vw !important;
  }

  #paddingScrollingOverflowMaker {
    top: 550vw;
  }

  .wrapperZoomedOut:hover {
    height: 150vh !important;
  }

  .wrapperZoomedOut {
    background-color: #222 !important;
    position: fixed;
    left: 0;
    height: 150vh !important;
    /*height: 120vh !important;*/
    /*min-height: 0 !important;*/
    /*height: 2rem !important;*/
    transform-origin: top left;
    border-radius: 0;
    transform: scale(0.5) translateX(-50%);
  }

  #headerHider {
    display: inline;
  }

  #headerBorder {
    /*background-color: red !important;*/
  }

  .project {
    padding: 0 !important !important;
  }
}
@media only screen and (min-width: 1000px) {
  #headerBorder {
    flex-wrap: nowrap;
  }
}
/*html{*/
/*padding-bottom: 180vh;*/
/*border-radius: 0.4rem;*/
/*}*/
/* projects slider */
#projects {
  /*background-color: #efefef4e;*/
  /*z-index: ;*/
  /*overflow-x: scroll;*/
  /*overflow-y: visible !important;*/
  /*overflow-x: scroll ;*/
  overflow-y: scroll;
  z-index: 60;
  /*left: 10rem;*/
  /*padding-left: 10rem;*/
  position: absolute;
  width: 100vh;
  height: 100vw;
  /*padding-top: 10rem;*/
  /*display: flex;*/
  transform-origin: top left;
  /*background-color: salmon;*/
  transform: rotate(-90deg) translateX(-100%);
  /*flex-direction: column;*/
  transition-duration: 0;
}

video,
iframe {
  min-width: 100%;
  min-height: 100%;
  pointer-events: none;
  /*transform: scale(2);*/
  /*transform-origin: top left;*/
}

#galleryBg {
  /*background: linear-gradient(20deg, red, blue);*/
  /*animation-name: glow;*/
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
}

@keyframes glow {
  from {
    filter: hue-rotate(0);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
#gallery {
  /*transform: scale(0.4);*/
  z-index: 50;
  position: fixed;
  /*align-items: center;*/
  /*background-color: lightslategrey;*/
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  /*display: flex;*/
  /*flex-direction: row;*/
  /*background-color: #fa8;*/
}

.project:hover {
  /*transform: */
  /*rotate(90deg) */
  /*translate(100%, -1.5%) */
  /*scale(1.02);*/
  background-color: #fff1 !important;
  left: 0 !important;
  transform: rotate(90deg) translateX(97.5%) translateY(-107%) scale(1.05);
  padding-top: 0;
  /*box-shadow: -30px 30px 30px #3333,*/
  /*-30px 40px 40px #3334;*/
}

.project:focus {
  border: 2px solid #eee;
  background-color: #fff4 !important;
  left: 1rem;
}

.project {
  left: 0;
  padding: 2rem 4rem;
  padding-bottom: 0.5rem;
  margin: 5rem;
  margin-left: 5vh;
  height: 80vh;
  width: 50vw;
  /*left: 10vw;*/
  /*height: 80vh;*/
  /*height: 4rem;*/
  background: linear-gradient(60deg, #0000, #eee6);
  box-shadow: -30px 30px 30px #3333;
  border-radius: 3rem;
  transition-duration: 600ms;
  z-index: 20;
  transform-origin: top left;
  transform: rotate(90deg) translateX(100%) translateY(-100%);
  position: absolute;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
}

#p1 {
  top: 30vw;
}

#p2 {
  top: 90vw;
}

#p3 {
  top: 150vw;
}

#p4 {
  top: 210vw;
}

#p5 {
  top: 270vw;
}

.project > h3 {
  /*color: yellow;*/
  /*display: block;*/
  font-size: 3rem;
  /*margin-top: -5rem;*/
  /*background-color: red;*/
  text-align: center;
  color: #eee;
  /*font-weight: 000;*/
  /*letter-spacing: 0.8rem;*/
}

.project > p {
  color: #eeeb;
  text-align: center;
  font-size: 1.2rem;
  overflow-y: scroll;
  flex: 1;
}

.project > img {
  /*height: 80%;*/
  /*width: auto;*/
  width: 70%;
  height: 60%;
  object-fit: cover;
  border-radius: 1.3rem;
  transition-duration: 800ms;
}

.project:hover > img {
  width: 100%;
  margin-top: -3vh;
  transition-duration: 300ms;
}

#paddingScrollingOverflowMaker {
  position: absolute;
  padding: 4rem;
  /*z-index: 999999999999;*/
  top: 350vw;
}

div#projects {
  scroll-behavior: smooth;
}

/* content oriented */
*::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  /*height: 20px;*/
}

/*::-webkit-scrollbar-button {*/
/*width: 12px;*/
/*height: 12px;*/
/*}*/
*::-webkit-scrollbar-thumb {
  background: linear-gradient(20deg, #aa00ff, #00ff80);
  border: 3px solid #555;
  border-radius: 50px;
}

*::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(20deg, #aa00ff, #00ff80);
  box-shadow: 0 0 0 0 #fff inset, 0 0 10px 0 #222, 0 0 10px 0 #fff inset;
  border: none;
}

*::-webkit-scrollbar-thumb:active {
  background: linear-gradient(20deg, #aa00ff, #00ff80);
  border: none;
  box-shadow: 0 0 0 1px #fff inset;
}

*::-webkit-scrollbar-track {
  background: #555;
  border: 0px none #ffffff;
  border-radius: 50px;
}

*::-webkit-scrollbar-track:active {
  background: #222;
}

*::-webkit-scrollbar-corner {
  background: transparent;
}

#touchResponse {
  position: fixed;
  width: 0;
  height: 0;
  background-color: #5843;
  pointer-events: none;
  z-index: 999;
  left: 0;
  top: 0;
}

.touchBlob {
  /*background-color: red;*/
  background: radial-gradient(#0000, #fff);
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  transform-origin: top left;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition-duration: 780ms;
}

#content {
  opacity: 1;
  transition-duration: 180ms;
}

#zoomOutMenu {
  position: absolute;
  top: 0;
  left: 0;
  /*right: 0;*/
  height: 100%;
  padding-top: 30vh;
  /*width: 100%;*/
  width: 0;
  /*background-color: coral;*/
  /*display: none;*/
}

#zoomOutMenu > a:focus {
  /*background-color: hsl(150,100%,50%) !important;*/
  background-color: #fff7;
  border: 2px solid #fff;
}

#zoomOutMenu > a:hover:active {
  transform: scale(1.2);
}

#zoomOutMenu > a {
  background-color: #383838;
  margin: 0.5rem;
  color: #ededed !important;
  min-height: 6rem;
  border-radius: 1rem;
  /*box-shadow: 0 0 0 5px #fff6 inset;*/
  border: 2px solid #fff6;
  /*padding: 1rem;*/
  font-size: 1.3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

#zoomOutMenu > a:hover {
  background-color: #555;
  border-radius: 1.5rem;
  transform: scale(0.95);
}

.wrapperZoomedOut > #header > #realHeader {
  box-shadow: 0 0 20px 20px #222;
}

.wrapperZoomedOut > #zoomOutMenu {
  /*background-color: coral;*/
  width: 100%;
  /*transition-duration: 80ms;*/
  transition-duration: 700ms;
}

/*#zoomOutMenu::-webkit-scrollbar-thumb{*/
/*width: 8px;*/
/*}*/
/*#zoomOutMenu::-webkit-scrollbar-thumb {*/
/*background: red;*/
/*}*/
/*#projects::-webkit-scrollbar-thumb:hover {}*/
/*#projects::-webkit-scrollbar-thumb:active {}*/
/*#zoomOutMenu::-webkit-scrollbar-track {*/
/*background: red;*/
/*}*/
/*#projects::-webkit-scrollbar-track:hover {}*/
/*#projects::-webkit-scrollbar-track:active {}*/
/*#zoomOutMenu::-webkit-scrollbar-corner {*/
/*background: red;*/
/*}*/
.wrapperZoomedOut > #header > #realHeader > #headerBorder {
  /*padding: 0;*/
  background-color: #222;
}

.wrapperZoomedOut > #header > #realHeader {
  /*opacity: 0.8 !important;*/
  /*left: 2rem;*/
  /*width: calc(100% - 4rem);*/
  /*background-color: #222a;*/
  background-color: #222;
  box-shadow: 0 20px 20px 0 #222;
}

#slidesWrapper {
  /*background-color: #444;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

#nameSlide {
  /*background-color: orange;*/
  background: linear-gradient(-220deg, red, aqua);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition-duration: 1200ms;
  /*transition-timing-function: linear;*/
  margin-top: 50vh;
  overflow: visible;
  width: 100%;
  /*border: 2px solid red;*/
  margin-bottom: 10rem;
}

#nameSlide > h4 {
  font-size: 3rem;
  transition-duration: 1400ms;
  overflow: visible;
  transition-timing-function: cubic-bezier(0, 1, 1, 1);
  /*margin-left: -30%;*/
}

#nameSlide > h4 {
  overflow-x: hidden;
}

#nameSlide > h1 {
  font-size: min(8rem, 10vw);
  margin-left: 1rem;
  /*word-wrap: none;*/
  text-align: center;
}

#nameSlide > p {
  text-align: center;
  margin-top: 3.8rem;
  font-size: 1.2rem;
  /*text-shadow: 0 0.1rem 2px #3333;*/
}

@keyframes nameanim {
  from {
    filter: hue-rotate(0);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
@media only screen and (max-width: 600px) {
  #nameSlide {
    margin-top: 70vh !important;
  }
}
::selection {
  color: #eee;
  background: #7700ff;
}

#skills {
  border-radius: 2rem;
  border: 3px solid #787878;
  max-width: 50%;
  min-height: 25rem;
  padding: 0.7rem;
  text-align: center;
  display: flex;
  flex: row;
}

#skillTabs {
  flex: 1;
  display: flex;
  flex-direction: column;
  /*background-color: #555;*/
}

#skillDescription {
  flex: 4;
  display: flex;
}

.skillTab:active {
  margin-left: 1rem;
}

.skillTab {
  border-radius: 1rem;
  border: solid 3px #787878;
  background-color: #eee;
  /*margin-left: -1rem;*/
  padding: 1rem;
  margin-top: 0.4rem;
  width: 100%;
}

.activeSkillTab {
  padding: 1.2rem;
  /*border-right: none;*/
  /*border-radius: 1rem 0 0 1rem ;*/
  margin-left: -3rem;
  width: calc(100% + 3rem);
}

#skillDescription > div {
  display: none;
  /*align-items: center;*/
  justify-content: center;
  transition-duration: 1800ms;
  transition-timing-function: cubic-bezier(0, 1.2, 0.2, 1);
  transform-origin: top;
  padding: 2rem;
  width: 100%;
  font-size: 1.4rem;
}

#skillsHeader {
  font-size: 4rem;
  color: #373737;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 600px) {
  #skills {
    width: 100% !important;
    margin: 0;
    border: none !important;
    border-radius: 0 !important;
    flex-direction: row-reverse;
    overflow-x: hidden;
  }

  .activeSkillTab {
    margin-left: -13px;
    width: 100%;
  }

  .skillTab {
    border-radius: 1rem 0 0 1rem !important;
  }
}
#projectsReminder {
  display: flex;
  justify-content: center;
  align-items: center;
  /*align-items: center;*/
  /*background-color: blue;*/
  text-align: center;
  border: 4px solid slateblue;
  background-color: #d6d9f5;
  border-radius: 3rem;
  margin-top: 5rem;
  padding: 1rem;
  min-height: 40vh;
  width: 75%;
  cursor: pointer;
}

#projectsReminder:hover {
  background-color: slateblue;
  border-color: #7288f8;
  color: #fff;
}

.slideHeader {
  font-size: 4rem;
  color: #373737;
  margin-bottom: 1rem;
  font-weight: 700;
}

#educationSlide {
  margin-top: 0vh;
  /*background-color: #333;*/
  margin-bottom: 10vh;
  margin-bottom: 4rem;
  width: 100%;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.treeElement {
  /*background-color: coral;*/
  width: 100%;
  padding-bottom: 1rem;
}

.stickyWrapper {
  /*background-color: crimson;*/
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightTreeElement > .stickyWrapper > .stickyTreeHeader, .leftTreeElement > .stickyWrapper > .stickyTreeHeader {
  /*background-color: #472 !important;*/
}

.rightTreeElement > .stickyWrapper > .stickyTreeHeader {
  transform: translateX(-55%);
}

.leftTreeElement > .stickyWrapper > .stickyTreeHeader {
  transform: translateX(55%);
}

.leftTreeElement {
  /*position: relative;*/
  /*left: -55%;*/
}

.rightTreeElement > .stickyWrapper > .treeContent {
  /*background-color: blue !important;*/
  transform: translateX(55%);
}

.leftTreeElement > .stickyWrapper > .treeContent {
  transform: translateX(-55%);
  text-align: right;
}

.rightTreeElement > .stickyWrapper > .treeContent,
.leftTreeElement > .stickyWrapper > .treeContent {
  width: 50%;
}

@media screen and (min-width: 800px) {
  .rightTreeElement > .stickyWrapper > .treeContent,
.leftTreeElement > .stickyWrapper > .treeContent {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .rightTreeElement > .stickyWrapper > .treeContent,
.leftTreeElement > .stickyWrapper > .treeContent {
    width: 100%;
  }

  .rightTreeElement > .stickyWrapper > .stickyTreeHeader {
    transform: translateX(0%);
  }

  .leftTreeElement > .stickyWrapper > .stickyTreeHeader {
    transform: translateX(0%);
  }

  .stickyTreeHeader {
    top: 10rem !important;
    z-index: 405;
  }

  .rightTreeElement > .stickyWrapper > .treeContent {
    /*background-color: blue !important;*/
    transform: translateX(0%);
    z-index: 400;
  }

  .leftTreeElement > .stickyWrapper > .treeContent {
    transform: translateX(0%);
    z-index: 400;
  }

  #educationSlide {
    margin-bottom: 0vh;
  }
}
.rightTreeElement {
  /*position: relative;*/
  /*left: 55%;*/
}

.stickyTreeHeader {
  position: sticky;
  position: -webkit-sticky;
  top: 5rem;
  font-size: 1.7rem;
  background-color: #eee;
  padding: 1rem;
  border-radius: 0.5rem;
  /*width: auto;*/
  display: inline;
  border: 3px solid #333;
}

.treeContent {
  /*transform: translateX(50%);*/
}

/*# sourceMappingURL=index.css.map */
