/** div that holds the sideButtons wrapper div **/
.side {
    z-index: 500;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    flex-shrink: 0;
    height: 100vh; 
}
.side > :first-child { margin-top: auto; }
.side > :last-child { margin-bottom: auto; }

.sideButtons {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 0 5px;
    overflow: auto;
    gap: var(--btn-gap);
}

.sideBtn {
    width: var(--btn-side);
    height: var(--btn-side);
    flex-shrink: 0;
    border-radius: 23%;
    -webkit-user-select: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 
        0 0 0 2px #EFD78900 inset,
        0 0 0 #00000000 inset
        ;
}
.sideBtn img {
    width: 77%;
    height: 77%;
}

.sideBtn.active {
    box-shadow: 
        0 0 0 2px #EFD789 inset,
        0 0 19px #00000088 inset
        ;
    background-color: #EFD7890a;
    transition: box-shadow 313ms;
}

