 .sideBtn.highlight {
     position: absolute;
     background-color: transparent;
     transition: 
         box-shadow 290ms,
         top 333ms cubic-bezier(.33, 1, .4, 1),
         left 333ms cubic-bezier(.33, 1, .4, 1),
         background-color 100ms,
         /*border-radius 288ms,*/
         scale 133ms
         ;
     pointer-events: none;
     top: calc(0 * (var(--btn-side) + var(--btn-gap)));
 }

.sideButtons.a0  .sideBtn.highlight {
     top: calc(0 * (var(--btn-side) + var(--btn-gap)));
 }
.sideButtons.a1  .sideBtn.highlight {
     top: calc(1 * (var(--btn-side) + var(--btn-gap)));
 }
.sideButtons.a2  .sideBtn.highlight {
     top: calc(2 * (var(--btn-side) + var(--btn-gap)));
 }
.sideButtons.a3  .sideBtn.highlight {
     top: calc(3 * (var(--btn-side) + var(--btn-gap)));
 }
 .highlight::before {
     content: '';
     width: 100%;
     height: 100%;
     border-radius: inherit;
     background: radial-gradient(ellipse at center , #EFD78900, #EFD789 80%);
     background-opacity: 0;
     opacity: 0;
     transition: opacity 444ms;
 }

 @media (max-aspect-ratio: 1/1) {
     .flyingToRight {

     }
     .flyingToRight .highlight::before,
     .flyingToLeft .highlight::before{
         opacity: 1;
         transition:
             opacity 100ms;
     }

     .flyingToRight .sideBtn.highlight,
     .flyingToLeft .sideBtn.highlight {
         transform-origin: top;
         background-color: #EFD789;
         transition: 
             box-shadow 10ms,
             left 513ms cubic-bezier(.2, 1, 0, 1),
             scale 100ms
         ;
         box-shadow: 0 0 0 2px #EFD78900 inset;
         scale: .6 .4;
     }

     .flyingToLeft .sideBtn.highlight{
         border-radius: 50% 30% 30% 50%;
     }
     .flyingToRight .sideBtn.highlight{
         border-radius: 30% 50% 50% 30%;
     }
     .sideBtn.highlight {
         top: 0px !important
     }
     .sideButtons.a0  .sideBtn.highlight {
         left: calc(0 * (var(--btn-side) + var(--btn-gap)));
     }
     .sideButtons.a1  .sideBtn.highlight {
         left: calc(1 * (var(--btn-side) + var(--btn-gap)));
     }
     .sideButtons.a2  .sideBtn.highlight {
         left: calc(2 * (var(--btn-side) + var(--btn-gap)));
     }
     .sideButtons.a3  .sideBtn.highlight {
         left: calc(3 * (var(--btn-side) + var(--btn-gap)));
     }

}

