.sideButtons {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 0;
    overflow: auto;
    gap: var(--btn-gap);
}

.sideBtn {
    width: var(--btn-side);
    height: var(--btn-side);
    flex-shrink: 0;
    border-radius: 23%;
    -webkit-user-select: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 
        0 0 0 2px #EFD78900 inset,
        0 0 0 #00000000 inset
        ;
    -webkit-tap-highlight-color: transparent;

}
.sideBtn img {
    width: 77%;
    height: 77%;
    pointer-events: none;
}

.sideBtn.active {
    box-shadow: 
        0 0 0 2px #EFD789 inset,
        0 0 19px #00000088 inset
        ;
    background-color: #EFD7890a;
    transition: box-shadow 313ms;
}

@media (max-aspect-ratio: 1/1) {
    :root {
        --btn-side: 81px;
    }
    .sideButtons {
        width: unset;
        height: unset;
        flex-direction: row;
        min-width: 0;
        max-width: 100%;
        padding: 0;
    }

    .sideBtn { 
        height: calc(.75 * var(--btn-side)); 
        width: var(--btn-side);
        min-height: calc(.75 * var(--btn-side)); ;
    }


    /** scroller **/
    .sideButtons::-webkit-scrollbar-thumb { border-width: 0; }
    .sideButtons::-webkit-scrollbar { height: 7px; }
}

@media (max-aspect-ratio: 1/1) {
    :root {
        --btn-side: 81px;
    }
    .sideButtons {
        width: unset;
        height: unset;
        flex-direction: row;
        min-width: 0;
        max-width: 100%;
        padding: 0;
    }

    .sideBtn { 
        height: calc(.75 * var(--btn-side)); 
        width: var(--btn-side);
        min-height: calc(.75 * var(--btn-side)); ;
    }


    /** scroller **/
    .sideButtons::-webkit-scrollbar-thumb { border-width: 0; }
    .sideButtons::-webkit-scrollbar { height: 7px; }
}

 .sideBtn.highlight {
     position: absolute;
 }
