.title {
    text-align: center;
    font-weight: 400;
    font-size: 64px;
    color: #8EC07C;
    margin-bottom: 44px;
    cursor: default;
}

.title::selection {
    background-color: #8EC07C;
    color: #1D2021;
}

