/** fonts **/

.f1	{ font-size: 64px }
.f2	{ font-size: 32px }
.f3	{ font-size: 24px }
.f4	{ font-size: 20px }
.f5	{ font-size: 16px }
.f6	{ font-size: 13px }

p { font-size: 20px; }

::selection {
    background-color: #EFD789;
    color: #1D2021;
}

:root {
    --scroll-thumb-thickness: 11px;
    --scroll-thumb-gap: 13px;
}

::-webkit-scrollbar {
    width: calc(var(--scroll-thumb-gap) * 2 + var(--scroll-thumb-thickness));
    height: calc(var(--scroll-thumb-gap) * 2 + var(--scroll-thumb-thickness));
}

/* Thumb (draggable part) */
::-webkit-scrollbar-thumb {
    background-color: #83A598;
    border-radius: 22px;
    border-width: var(--scroll-thumb-gap);
    border-color: #1d2021;
    border-style: solid;
}

/* Track (background) */
::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 6px;
}

/* Hover state */
::-webkit-scrollbar-thumb:hover {
    /*background-color: #83A598aa;*/
    background-color: #b2d6c8;
}

::-webkit-scrollbar-thumb:active {
    /*background-color: #83A598;*/
    /*background-color: #b2d6c888;*/
    /*background-color: #8EC07C;*/
    background-color: #EFD789;
}

::-webkit-scrollbar-corner {
  background: transparent; /* or any color */
}

/******************************/

/*a { color: #83A598; }*/
a.text { color: #92cbb5; }

a.hoverpop:hover { 
    background-color: #92cbb5; 
    color: #1d2021;
    border-radius: 5px;
}

a.text::selection {
    background-color: #83A598;
}

/* TODO: apply this for h1, h2, h3, h4 , h5, h6 tags as well*/
.title {
    text-align: center;
    font-weight: 400;
    font-size: 64px;
    color: #8EC07C;
    margin-bottom: 44px;
    cursor: default;
}

.title::selection {
    background-color: #8EC07C;
    color: #1D2021;
}

