.displayNoneInator {
	/*display: none !important;*/
	opacity: 0 !important;
	width: 0 !important;
	height: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
	overflow: hidden !important;
}

@media only screen and (max-width: 600px) {
	.wrapperZoomedOut {
		background-color: #222 !important;
		position: fixed;
		left: 0;
		height: 200vh !important;

		/*height: 120vh !important;*/
		/*min-height: 0 !important;*/
		/*height: 2rem !important;*/
		transform-origin: top left;
		border-radius: 0;
		transform: scale(0.5) translateX(-50%);
	}
	#headerHider {
		display: inline;
	}

	#headerBorder{
		/*background-color: red !important;*/
		flex-direction: column !important;
	}
}

@media only screen and (min-width: 1000px) {
	#headerBorder {
		flex-wrap: nowrap;
	}
}

/*html{*/
/*padding-bottom: 180vh;*/
/*border-radius: 0.4rem;*/

/*}*/

/* projects slider */

#projects {
	border-left: solid 2px red;
	/*background-color: #efefef4e;*/
	/*z-index: ;*/
	/*overflow-x: scroll;*/
	/*overflow-y: visible !important;*/
	/*overflow-x: scroll ;*/
	overflow-y: scroll;

	z-index: 60;
	/*left: 10rem;*/
	/*padding-left: 10rem;*/

	position: absolute;
	width: 100vh;
	height: 100vw;


	/*padding-top: 10rem;*/

	/*display: flex;*/
	transform-origin: top left;
	/*background-color: salmon;*/
	transform: rotate(-90deg) translateX(-100%);
	/*flex-direction: column;*/
}

video,
iframe {
	min-width: 100%;
	min-height: 100%;
	pointer-events: none;
	/*transform: scale(2);*/
	/*transform-origin: top left;*/
}

#galleryBg {
	/*background: linear-gradient(20deg, red, blue);*/
	/*animation-name: glow;*/
	animation-duration: 6000ms;
	animation-iteration-count: infinite;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 3;
}

@keyframes glow {
	from {
		filter: hue-rotate(0);
	}
	to {
		filter: hue-rotate(360deg);
	}
}

#gallery {
	/*transform: scale(0.4);*/
	z-index: 50;
	position: fixed;
	/*align-items: center;*/
	/*background-color: lightslategrey;*/
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	/*display: flex;*/
	/*flex-direction: row;*/
	/*background-color: #fa8;*/
}

.project:hover {
	/*transform: */
	/*rotate(90deg) */
	/*translate(100%, -1.5%) */
	/*scale(1.02);*/

	transform:
	rotate(90deg)
	translateX(97.5%)
	translateY(-107%)
	scale(1.05);


	/*box-shadow: -30px 30px 30px #3333,*/
	/*-30px 40px 40px #3334;*/
}

.project {
	padding: 4rem;
	margin-left: 5vh;
	height: 80vh;
	width: 50vw;
	/*left: 10vw;*/

	border-left: solid red 2px;
	/*height: 80vh;*/
	/*height: 4rem;*/

	background: linear-gradient(60deg, #0000, #eee6);
	box-shadow: -30px 30px 30px #3333;
	border-radius: 3rem;
	transition-duration: 600ms;
	z-index: 20;
	transform-origin: top left;
	transform: 
	rotate(90deg)
	translateX(100%)
	translateY(-100%);
	position: absolute;
}

#p1 {
	top: 30vw;
}
#p2 {
	top: 90vw;
}
#p3 {
	top: 150vw;
}
#p4 {
	top: 210vw;
}
