#touchResponse{
	position: fixed;
	width: 0;
	height: 0;
	background-color: #5843;
	pointer-events: none;
	z-index: 999;
	left: 0;
	top: 0;
}

.touchBlob{
	/*background-color: red;*/
	background: radial-gradient(#0000,#fff);
	width: 1.5rem;
	height: 1.5rem;
	position: absolute;
	transform-origin: top left;
	transform: translate(-50%, -50%);
	border-radius: 50%;

	//animation-name: touchResponseAnim;
	//animation-duration: 800ms;
	//animation-fill-mode: forwards;
	transition-duration: 780ms

}

//@keyframes touchResponseAnim{
//	0%{
//		transform: scale(1.0);
//		opacity: 1;
//	}
//	95%{
//		transform: scale(3.0);
//		opacity: 0.0;
//	}
//	100%{
//		opacity: 0.0;
//		transform: scale(3.0)

//	}
//}

// was for testing if the touch response is centered
//html{
	//cursor: crosshair;
//}