@media (max-aspect-ratio: 1/1) {
    :root {
        --btn-side: 81px;
    }
    .side {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        top: unset;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding: 7px;
        padding-top: 0px;
        padding-bottom: 5px;
        box-shadow: 0 -13px 13px #1d2021;
        background-color: var(--bg);
    }
    .sideButtons {
        width: unset;
        height: unset;
        flex-direction: row;
        min-width: 0;
        max-width: 100%;
    }

    .sideBtn { 
        height: calc(.75 * var(--btn-side)); 
        min-height: calc(.75 * var(--btn-side)); ;
    }

    .side > :first-child { margin-left: auto; }
    .side > :last-child { margin-bottom: unset; margin-right: auto; }

    /** scroller **/
    .sideButtons::-webkit-scrollbar-thumb { border-width: 0; }
    .sideButtons::-webkit-scrollbar { height: 7px; }
}

