* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg:#1D2021;
    --btn-side: 120px;
    --btn-gap: 10px;
    --centered-width: 700px; /*or 1200px*/
}

/** centered on big screen scroll content **/
.centered {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
}

.row, .col { display: flex; }
.col { flex-direction: column }


/** scrolling content **/

.content {
    min-height: 300vh;
    position: relative;
    padding-top: 80px;
}

.g, .content p {
    margin-left: 64px;
    margin-right: 33px;
}


