* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg:#1D2021;
    --btn-side: 120px;
    --centered-width: 700px; /*or 1200px*/
}

:root, html, body {
    background-color: #1D2021;
    color: #FFF4D1;
    color-scheme: dark;
}

/** centered on big screen scroll content **/

.centered {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
}

/** side **/

.side {
    display: flex;
    z-index: 500;
    flex-direction: column;
    position: sticky;
    border: 2px solid red;
    flex-shrink: 0;
    /*height: 100vh; */
    align-self: start;
}

.sideButtons {
    margin-top: auto;
    margin-bottom: auto;
    /* to count for overlaying with scroll thumbs */
    padding-bottom: calc(var(--scroll-thumb-gap) * 2 + var(--scroll-thumb-thickness)) !important;
}

/** buttons **/

.sideButtons {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;   /* to count for overlaying with scroll thumbs */
    overflow: auto;
    gap: 10px;
}
.sideButtons > :first-child { margin-top: auto }
.sideButtons > :last-child { margin-bottom: auto }

.sideBtn {
    flex-shrinkg: 0;
    width: var(--btn-side);
    min-width: var(--btn-side);
    height: var(--btn-side);
    min-height: var(--btn-side);
    border-radius: 23%;
    -webkit-user-select: none;
    background-color: transparent;
    border: none;
    cursor: pointer;

    font-size: 38px;
    text-align: center;
    color: #EFD789;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 
        0 0 0 2px #EFD78900 inset,
        0 0 0 #00000000 inset
        ;
}
.sideBtn img {
    width: 77%;
    height: 77%;
}
.sideBtn.active {
    box-shadow: 
        0 0 0 2px #EFD789 inset,
        0 0 19px #00000088 inset
        ;
    background-color: #EFD7890a;
    transition: box-shadow 313ms;
}



