@media (max-aspect-ratio: 1/1) {
    .centered {
        /*overflow: hidden;*/
        /*border: 4px solid lime;*/
    }
    /** other **/
    .g, .content p {
        margin-left: 19px;
        margin-right: 19px;
    }
}

