@media (max-aspect-ratio: 1/1) {
    :root {
        --btn-side: 81px;
    }
    .centered {
        /*overflow: hidden;*/
        /*border: 4px solid lime;*/
    }
    .side { border: 2px solid red !important; }
    .side {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        top: unset;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding: 7px;
        padding-top: 0px;
        padding-bottom: 5px;
        box-shadow: 0 -13px 13px #1d2021;
    }
    .sideButtons {
        width: unset;
        height: unset;
        border: 2px solid green;
        flex-direction: row;

    }
    .side > :first-child { 
        margin-top: unset;
        margin-left: auto;
    }
    .side > :last-child { 
        margin-bottom: unset;
        margin-right: auto;
    }
    /** scroller **/
    .sideButtons::-webkit-scrollbar-thumb { border-width: 0; }
    .sideButtons::-webkit-scrollbar { height: 7px; }

}
