* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg:#1D2021;
    --btn-side: 120px;
    --centered-width: 700px; /*or 1200px*/
}

:root, html, body {
    background-color: #1D2021;
    color: #FFF4D1;
}

/** #DEBUG **/
.red {
    box-shadow: 0 0 0 9px red inset;
    min-width: 20px;
    min-height: 20px;
}

/** centered on big screen scroll content **/
.centered {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
}

/** sticky side bar **/
.side {
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    flex-shrink: 0;
    padding: calc(var(--scroll-thumb-gap) * 2 + var(--scroll-thumb-thickness)) 5px;
    height: 100vh;
    overflow: auto;
}
.side > :first-child { margin-top: auto }
.side > :last-child { margin-bottom: auto }

@media (max-aspect-ratio: 1/1) {
    :root {
        --btn-side: 81px;
    }
    .centered {
        /*overflow: hidden;*/
        /*border: 4px solid lime;*/
    }
    .side {
        position: fixed;
        z-index: 500;
        width: 100%;
        top: unset;
        left: 0;
        bottom: 0;
        height: auto;
        padding: 7px;
        padding-top: 0px;
        padding-bottom: 5px;
        flex-direction: row;
        overflow: auto;
        box-shadow: 0 -13px 13px #1d2021;
    }
    .side::-webkit-scrollbar-thumb {
        border-width: 0;
    }
    .side::-webkit-scrollbar {
        height: 7px;
    }
    .side > :first-child { 
        margin-top: unset;
        margin-left: auto;
    }
    .side > :last-child { 
        margin-bottom: unset;
        margin-right: auto;
    }
}

/* page buttons style */

.sideBtn { 
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    /*padding: 17px;*/
}

.sideBtn img {
    width: 77%;
    height: 77%;
}

.sideBtn {
    flex-shrinkg: 0;
    width: var(--btn-side);
    min-width: var(--btn-side);
    height: var(--btn-side);
    min-height: var(--btn-side);
    border-radius: 23%;
    margin-bottom: 10px;
    -webkit-user-select: none;
    background-color: transparent;
    border: none;
    cursor: pointer;

    font-size: 38px;
    text-align: center;
    color: #EFD789;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 
        0 0 0 2px #EFD78900 inset,
        0 0 0 #00000000 inset
        ;
}

@media (max-aspect-ratio: 1/1) {
    .sideBtn { margin-bottom: 0 }
    .sideBtn { 
        height: calc(.75 * var(--btn-side)); 
        min-height: calc(.75 * var(--btn-side)); ;
    }
}

.sideBtn.active {
    box-shadow: 
        0 0 0 2px #EFD789 inset,
        0 0 19px #00000088 inset
        ;
    background-color: #EFD7890a;
    transition: box-shadow 313ms;
}
.sideBtn:hover {
}

/** scrolling content **/

.content {
    color: #F2EDDE;
    flex-grow: 1;
    padding-top: 80px;
    /*padding-left: 64px;*/
    /*padding-right: 33px;*/
}

.g, .content p {
    margin-left: 64px;
    margin-right: 33px;
}
@media (max-aspect-ratio: 1/1) {
    .g, .content p {
        margin-left: 19px;
        margin-right: 19px;
    }
}


.title {
    text-align: center;
    font-weight: 400;
    font-size: 64px;
    color: #8EC07C;
    margin-bottom: 44px;
    cursor: default;
}

/** fonts **/

body {
    font-family: poppins
}

.f1	{ font-size: 64px }
.f2	{ font-size: 32px }
.f3	{ font-size: 24px }
.f4	{ font-size: 20px }
.f5	{ font-size: 16px }
.f6	{ font-size: 13px }

p { font-size: 20px; }

/**/
/** utils */
/**/

.row, .col { display: flex; }
.col { flex-direction: column }

/** selection **/

::selection {
    background-color: #EFD789;
    color: #1D2021;
}
.title::selection {
    background-color: #8EC07C;
    color: #1D2021;

}

/** scroll bar **/

.content {
    min-height: 300vh
}

:root {
    --scroll-thumb-thickness: 11px;
    --scroll-thumb-gap: 13px;
}

::-webkit-scrollbar {
    width: calc(var(--scroll-thumb-gap) * 2 + var(--scroll-thumb-thickness));
    height: calc(var(--scroll-thumb-gap) * 2 + var(--scroll-thumb-thickness));
}

/* Thumb (draggable part) */
::-webkit-scrollbar-thumb {
    background-color: #83A598;
    border-radius: 22px;
    border-width: var(--scroll-thumb-gap);
    border-color: #1d2021;
    border-style: solid;
}

/* Track (background) */
::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 6px;
}

/* Hover state */
::-webkit-scrollbar-thumb:hover {
    /*background-color: #83A598aa;*/
    background-color: #b2d6c8;
}

::-webkit-scrollbar-thumb:active {
    background-color: #83A598;
    background-color: #b2d6c888;
}

::-webkit-scrollbar-corner {
  background: transparent; /* or any color */
}

/******************************/

.mynamecard {
    margin-top: 74px;
    margin-bottom: 64px;
}
.mynamecard img {
    border-radius: 36px;
    box-shadow: -3px 7px 30px #00000077;
}
.mynamecard .tituls {
    margin-left: 53px;
}
@media (max-aspect-ratio: 1/1) {
    .mynamecard {
        margin-top: 44px;

        /* fills width in mobile */
        margin-left: 0;
        margin-right: 0;
        width: 100vw;
        align-items: center;

        padding: 0 19px;
        flex-direction: column;
    }
    .mynamecard .tituls {
        margin-left: 0;
        margin-top: 23px;
        align-items: center;
    }
    .mynamecard .titul {
        opacity: 77%;
    }
}
.myname {
    font-size: 81px;
    margin-bottom: 4px;
    cursor: default; 
}
@media (max-aspect-ratio: 1/1) {
    .myname {
        font-size: 49px;
    }
}
.myname::selection {
    background-color: #83A598;
}

#pic {
    -webkit-user-select: none;
    user-drag: none;
    -webkit-user-drag: none;
    outline-offset: 14px;
    transition: 33ms;
}

/** todo: wrap pic in a div and give div the shadow
 * so scaling the pic won't scale the shadow */

/* todo: Maybe clicking on my pic throws a shiny dost around it.
users can click and click and click to cover the area around. 
a thing to fiddle with. maybe even use canvas element for performance.
just draw a dot (maybe even gradient) and leave it without cleanning.
so the stacking thing is just pixels. use touchstart events too
so user's every touch will add a sparkle. can use multi fingers. 
 */

#pic:active {
    transition: 133ms;
    /*outline: 6.4px solid #8EC07C;*/
    scale: .97;
}

/*a { color: #83A598; }*/
a.text { color: #92cbb5; }

a.hoverpop:hover { 
    background-color: #92cbb5; 
    color: #1d2021;
    border-radius: 5px;
}

a.text::selection {
    background-color: #83A598;
}
