.imagerOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: imagerOverlayAnim 643ms forwards;
    user-drag: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

.imagerOverlay img {
    /*border-radius: 13px;*/
    object-fit: contain;
    max-width: 90%;
    max-height: 90%;
}

@keyframes imagerOverlayAnim {
    from {
        /*opacity: 0;*/
        /*backdrop-filter: blur(0px);*/
        background-color: #1d202100;
    } to {
        /*opacity: 1;*/
        /*backdrop-filter: blur(6px);*/
        background-color: #1d2021dd;
    }
}
